.confirmation-dialog {
    padding: 24px;
}

.confirmation-dialog .dialog-content {
    font-size: 14px;
    margin-bottom: 12px;
    text-align: center;
}

.confirmation-dialog footer {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.confirmation-dialog footer button + button {
    margin-left: 24px;
}

.confirmation-dialog footer button:not(disabled):hover {
    cursor: pointer;
}