<header class="main-header">
    <div class="col-left">
        <h1>{{title}}</h1>
    </div>
    <div class="col-right">
        @if (!isLoggedIn()) {
            @if (!displayLoginForm) {
                <button mat-flat-button (click)="toggleLoginFormDisplay($event)" title="click to open the login form">Login</button>
            }
        }
        @if (isLoggedIn() || displayLoginForm) {
            <login-form (clickOutsideEmitter)="hideLoginForm()"></login-form>
        }
    </div>
</header>